.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    padding: 5rem 0;
    border-bottom: 1px solid var(--neutral-offwhite);
}

.projects_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.projects_header h1 {
    font-family: 'Bebas Neue Regular', sans-serif;
    color: var(--white-color);
    font-size: 3.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100%
}

.projects_header h2 {
    font-family: 'Bebas Neue Regular', sans-serif;
    color: var(--neutral-offwhite);
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

@media (max-width: 768px) {
    .projects {
        padding: 3rem 0;
        gap: 3rem;
    }

    .projects_header h1 {
        font-size: 2.8rem;
    }

    .projects_header h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 425px) {
    .projects {

        padding: 1.3rem 0;
        gap: 1.3rem;

    }
}
