.navbar{
    position: fixed;
    width:100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    color: var(--neutral-offwhite);
}
.navbar h2{
    font-family: "Bebas Neue Regular",sans-serif;
    font-size: 32px;
    letter-spacing: -0.32px;
}

.nav_menu{
    display: flex;
}

li{
    cursor: pointer;
    padding:0 1rem;
    font-family: 'Inter Medium', sans-serif;
    letter-spacing: -0.48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.hamburger{
    display: none;
}
.mobile_menu{
    display: none;
}

@media (max-width: 1024px) {
    .navbar{
        height: 80px ;
    }
}

@media (max-width: 768px) {
    .navbar{
        /*width: 90%;*/
        /*padding: 0 0 0 20px*/

    }
    .navbar h2{
        font-size: 25px;
        letter-spacing: -0.32px;
    }
    li{
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding:0 0.5rem;
    }
}


@media screen and (max-width: 576px) {
    .nav_menu{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 1.5rem;
        margin-top: 10px;
        cursor: pointer;
    }

    .mobile_menu{
        background-color: var(--onyx);
        position: absolute;
        top: -100vh;
        left: 0;
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        align-items: center;
        width: 100%;
    }
    .active{
        top: 80px;
    }

    .mobile_menu li{
        display: block;
        font-size: 1.5rem;
        padding: 2.0rem 1rem;
        border-bottom: 1px solid var(--dark-grey);
        text-align: center;
    }
    .mobile_menu li:hover{
        transform: scale(1.5);
        transition: 0.3s;
    }
}

