.container {
    min-height: 100vh;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}


@media (max-width: 1024px) {
   .container{
       padding: 4.375rem 1rem;
   }
}
@media (max-width: 768px){
    .container{
       padding: 3.75rem 1rem;
    }
}
@media (max-width: 425px){
    .container{
        padding: 2.5rem 1rem;
    }
}
