.container {
    padding-top: 96px;
    min-height: 100vh;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
   .container{
       padding: 70px;
   }
}
@media (max-width: 768px){
    .container{
        padding-bottom: 60px;
    }
}
@media (max-width: 425px){
    .container{
        padding: 40px 16px 60px 16px;
    }
}
